@import url('../../styles.css');

.forgot-password-link {
    font-size: var(--font-size-sm);
    text-transform: capitalize;
    text-align: right;
    font-style: italic;
    color: var(--primary-color-light);
}